li.gpos-upgrade-pro {
	background-color: #F0A500;
	height: 32px;
	line-height: 1.4;
}

li.gpos-upgrade-pro img {
	width: 16px;
	height: 16px !important;
}

li.gpos-upgrade-pro .new-tab {
	margin-top: 2px;
	margin-left: 6px;
}
	

li.gpos-upgrade-pro a {
	color: #FFFFFF !important;
	display: flex !important;
	line-height: 22px !important;
}

/* Plugins sayfasında: etkinleştir ve ayarlar kısmında Proya yukselt ibaresi için stiller */
a.upgrade-pro {
	color: #F0A500;
	font-weight: bold;
}

a.upgrade-pro:hover {
	color: #F0A500;
}

/* Bitis / Plugins sayfası için yazılan stiller */

#wpadminbar .gpos-test-mode-active>.ab-item {
	margin: 0 2px;
	color: #fff;
	background-color: #ffba00;
}

#wpadminbar .gpos-test-mode-active:hover>a.ab-item {
	background-color: #ffba00 !important;
	color: #fff !important;
}

#wpadminbar .gpos-test-mode-active:hover .ab-label,
#wpadminbar .gpos-test-mode-active:hover .ab-label {
	background-color: #ffba00 !important;
	color: #fff !important;
}