.payment_method_gpos {
  background-color: transparent !important;
  padding: 0px !important;
}

.payment_method_gpos:before {
  display: none !important;
}

.gpos-checkout-container {
  width: 100%;
}

.gpos-full-row {
  display: flex;
  width: 100%;
}

.gpos-between {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: end;
}

.gpos-flex {
  display: flex;
  gap: 5px;
}

.gpos-item-center {
  align-items: center;
}

.gpos-full-width {
  width: 100%;
}

.gpos-relative {
  position: relative;
}

.gpos-input-svg {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  padding: 5px;
}

.gpos-label {
  color: #111928;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
}

.gpos-form-input {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  gap: 10px !important;
  background: #f9fafb !important;
  border: 1px solid #d1d5db !important;
  border-radius: 8px !important;
  width: 100% !important;
  font-size: 16px !important;
  text-indent: 40px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 !important;
  min-height: 45px;

}

.gpos-form-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #6b7280 !important;
}

.gpos-half-input {
  background: #f9fafb !important;
  border: 1px solid #d1d5db !important;
  border-radius: 8px !important;
  text-indent: 5px;
  width: 100% !important;
  -webkit-appearance: auto !important;
  font-size: 16px !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0px !important;
  cursor: pointer;
  padding: 0 !important;
  min-height: 45px;
}

.gpos-checkbox {
  width: 16px;
  height: 16px;
  background: #f9fafb !important;
  border: 0.5px solid red !important;
  margin: 0px !important;
}

.gpos-checkbox-label {
  color: #111928;
  font-weight: 500;
  font-size: 13px;
  line-height: 14px;
  display: flex;
  align-items: center;
  gap: 2px;
  cursor: pointer;
}

.gpos-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #111928;
  margin-top: 10px;
  margin-bottom: 10px !important;
}

.gpos-helper-text {
  font-weight: 400;
  font-size: 11px;
  line-height: 150%;
  color: #6b7280;
}

.test-mode-container {
  padding: 16px;
  background: #fdf6b2;
  border-radius: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.test-mode-title {
  color: #8e4b10;
  font-weight: 600;
  font-size: 16px;
}

.test-mode-content {
  margin-top: 5px;
  font-weight: 400;
  font-size: 14px;
  color: #8e4b10;
}

.gpos-expiry-wrapper {
  width: 75%;
}

.gpos-expiry-input {
  width: 35%;
}

.gpos-cvv-input {
  width: 25%;
}

#add_payment_method #payment ul.payment_methods li img,
.woocommerce-cart #payment ul.payment_methods li img,
.woocommerce-checkout #payment ul.payment_methods li img {
  margin: 0px !important;
}

.gpos-test-button {
  cursor: pointer;
}

.gpos-hidden {
  display: none !important;
}

.empty-gateway-container {
  padding: 16px;
  background: #e1effe;
  border-radius: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.empty-gateway-content {
  color: #233876;
}

.gpos-installment-container {
  display: none;
}

.gpos-installment-header {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  background-color: #f3f4f6;
  border: 1px solid #e5e7eb;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  padding: 8px 13px;
  font-weight: 600;
  margin-top: 15px;
}

.gpos-installment-row {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #e5e7eb;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  padding: 10px;
  font-weight: 600;
  margin-top: 14px;
  width: 100%;
  cursor: pointer;
}

.gpos-installment-row:hover {
  box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.08);
}

.gpos-sub-month {
  color: #93969b;
  font-style: normal;
  font-size: 12px;
}

.gpos-column-flex {
  display: flex;
  flex-direction: column;
}

.gpos-installment-total-price {
  font-weight: 400;
  font-size: 9px;
  color: #93969b;
  align-items: start;
}

/* Taksit Tablosu CSS - Tablo Görünüm */
.gpos-installment-table-wrapper {
  position: relative !important;
  margin-top: 16px !important;
}

.gpos-installment-table-wrapper input {
  margin-right: 0px !important;
}

.gpos-installment-table {
  width: 100% !important;
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
  text-align: left !important;
}

.gpos-installment-table-thead {
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
  background-color: #f9fafb !important;
}

.gpos-installment-table-td {
  padding: 12px 24px 12px 24px !important;
  border-bottom-width: 1px !important;
  border-color: #e5e7eb !important;
}

.gpos-installment-table-tr {
  background-color: #ffffff !important;
}

.gpos-installment-table-input-wrapper {
  display: flex;
  align-items: center;
  gap: 5px !important;
}

.gpos-installment-table-label {
  font-weight: 400 !important;
  font-size: 14px !important;
  color: #6b7280 !important;
  cursor: pointer !important;
}

.gpos-installment-table-price {
  font-weight: 600 !important;
  font-size: 14px !important;
  color: #6b7280 !important;
  cursor: pointer !important;
}

.gpos-installment-row input {
  margin: 1px !important;
}

@media only screen and (max-width: 600px) {
  .gpos-between {
    display: block;
  }

  .gpos-expiry-wrapper {
    width: 100%;
  }

  .gpos-expiry-input {
    width: 50%;
  }

  .gpos-cvv-input {
    width: 100%;
    margin-top: 8px;
  }

  .gpos-installment-row {
    padding: 6px !important;
    font-size: 11px !important;
  }

  .gpos-installment-row input {
    margin: 1px !important;
  }
}

.gpos-loading {
  display: none;
  z-index: 50;
}

.gpos-loading svg {
  width: 30px;
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}